name: Deploy Stock Dashboard

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Azure VM via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VM_HOST }}
          username: azureuser
          key: ${{ secrets.VM_SSH_KEY }}
          port: 22
          script: |
            set -e

            cd /home/azureuser/stock_dashboard_proj

            git pull origin main

            source /home/azureuser/venvs/project_env/bin/activate

            pip install -r requirements.txt

            python stock_dashboard.py

            echo "Deployed at $(date)" >> deploy.log

